body { 
  background: #FFEFD5; 
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; 
  text-align:center; 
}

header {
	padding: 5px;
	background-color:#546960;
    height: 60px;
    width:100%;
    padding-bottom: 50px;
}

.logo  {
  padding-left: 15px;
  margin: 10px;
  width: 100px;
  height:100px;
 float:left;
}

.title{
 font-size: 36px;
 padding-top: 10px;
 text-align: center;
}
.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}


.bran {
  padding-top: 40px;
 text-align: left;
  color: white;
font-size: 35px; 

}

nav {
  background-color:#5C7268;
  margin: 20px;
  border-radius: 2px;
  max-width: 100%;
}

nav a {
  color: #aaa;
  display: inline-block;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  color:#F0F8FF;
}

table {
  border-spacing: 0;
  empty-cells: hide;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #546960;
  border-radius:5px;
}


td {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid black;
  transition: all 0.5s linear;
   color:#546960;
}

td:first-child {
  text-align: left;
  color: #546960;
  font-weight: bold;
}
th {
    padding: 10px 20px;
    color:#546960;
    border-bottom: 1px solid #546960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background:#FFDAB9;
}

tr:nth-child(odd) {
    background:#FFEBCD;
}

table .odd {
  background-color: rgb(255,100,255);
}
.form {
  font-size: 25px;
  margin: 30px auto;
}

form label {
  margin: 30px auto;
}
input {
  font-size: 30px;
  margin: 10px auto;
}
input[type="submit"] {
  width: 300px;
  height: 60px;
  font-size: 25px;
}
input[type="submit"]:hover {
  background-color:rgb(255,50,255);
  border: 1px rgb(255,0,255);
}
.header,.list, .table-3,.form {
margin-top: 20px;
padding: 10px;
width: 960px;
margin-left: auto;
margin-right: auto;
background-color: #F5F5F5;
border-radius: 10px;
}

footer { 
  text-align: center;
      border-top: 7px solid #30493C;
      padding-top: 5px;
      margin-top: 50px;
      padding-bottom: 10px;
      background-color: #546960;
      color:#30493C;
  } 

li {
  list-style-type: none;
}

